<%- include("header") %> 

    <div class="box" id="heading">
        <h1><%= listTitle %></h1>

    </div>

    <div class="box">
        <%    for( var i = 0; i<newListItems.length; i++){ %>        
        <div class="item">

                <input type="checkbox">
                <p><%= newListItems[i] %> </p>
        

        </div>
        <% } %>
        <form class="item" action="/" method="POST">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" value=<%= listTitle %>  name="route">+</button>
        </form>        
    </div>


    <% if (pageCheck === "notWork") { %>    
        <form action="/work" method="GET">
            <button class="trybtn" type="submit">Work List</button>
        </form>
        <% } %>
       
        <% if (pageCheck === "Work") { %>    
            <form action="/" method="GET">
                <button class="trybtn" type="submit">Main List</button>
            </form>
        <% } %>
        
        <form action="/clear" method="GET">
            <button style="margin-bottom: 5%" class="trybtn clearbtn" type="submit">New List</button>
        </form>
    

<%- include("footer") %> 
    

